* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{ 
    height: 100vh;
    background: linear-gradient(to right top, #8360c3, #2ebf91);
    
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}


.board{
    background: white;
    min-height: 80vh;
    width: 85%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.3));
    border-radius: 2rem;
    display: flex;
}

.sidebar {
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.3));
    width: 20%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 13rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    overflow: hidden;
}


.title {
    padding: 2px 2px;
    margin-top: 5rem;
    font-size: 2rem;
    color: rgb(80, 76, 76);
    
}

.options a{
    font-size: 2rem;
    color: rgb(80, 76, 76);
    display: flex;
    text-decoration: none;
}

.options li{
    margin-top: 3rem;
    list-style: none;
    
}

.options li.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color:rgb(80, 76, 76);;
}


.week{
    margin-top: 5rem;
    width: 80%;
    height: 9rem;
    background: rgba(255, 255, 255,0.7);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;


}

.day {
    padding: 1rem;
    display: flex;
    flex:  1 1 0px;
    justify-content: center;
    overflow: hidden;
    
}
.active-day{
    background: rgb(223, 218, 218);
}

.day:hover{
    background: rgb(223, 218, 218);
}

.day:not(:first-child){
    border-left: 2px solid rgb(80, 76, 76);
    
}

.meals-inactive{
    display: none;
}

.meals-active{
    margin-top: 2rem;
    display: flex;
    width: 85%;
    justify-content: space-between;
    overflow: scroll;
}

.meal-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.meal-plan {
    background: rgba(255, 255, 255,0.7);
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;

}

@media (max-width: 700px){

    .board{
        width: 100vw;
    }
    .content{
        height: 100vh;
        width: 100vw;
    }

    .sidebar {
        width: 100%;
        display: none;
    }

    .day {
        font-size: 10px;
    }
    
}






