* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{ 
    height: 100vh;
    background: linear-gradient(to right top, #8360c3, #2ebf91);
    
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}


.board{
    background: white;
    min-height: 80vh;
    width: 85vw;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.3));
    border-radius: 2rem;
    display: flex;
}

.sidebar {
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.3));
    width: 20%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-width: 13rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    overflow: hidden;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 3rem;
    overflow: hidden;
}


.title {
    padding: 2px 2px;
    margin-top: 5rem;
    font-size: 2rem;
    color: rgb(80, 76, 76);
    
}

.options a{
    font-size: 2rem;
    color: rgb(80, 76, 76);
    display: flex;
    text-decoration: none;
}

.options li{
    margin-top: 3rem;
    list-style: none;
    
}

.options li.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color:rgb(80, 76, 76);
}


.week{
    margin-top: 3rem;
    width: 80%;
    min-height: 9rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.3));
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.day {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:  1 1 0px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    color: rgb(80, 76, 76);
    font-weight: bold;
    
}
.active-day{
    background: rgb(223, 218, 218);
}

.day:hover{
    background: rgb(223, 218, 218);
}

.day:not(:first-child){
    border-left: 2px solid rgb(80, 76, 76);
    
}

.meals-inactive{
    display: none;
}

.meals-active{
    margin-top: 2rem;
    display: flex;
    width: 85%;
    gap: 1rem;
    justify-content: space-between;
    overflow: scroll;
}

.meals-active h1 {
    color: rgb(80, 76, 76);
}

.meal-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.meal-plan {
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.3));
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.add-button button{
    float: right;
}

.recipeItem, .recipeItemList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    text-align: left;
    margin-top: 1rem;
    background-color: rgb(223, 218, 218);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: transform 1s ease, box-shadow 1s ease;
}

.recipeItemList{
    height: 3rem;
}

.recipeItem:hover, .recipeItemList:hover{
    transition: transform 1s ease, box-shadow 1s ease;
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.recipeItem h1, .recipeItemList h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 1rem;
    font-size: 20px;
    padding: 0.5rem;
}


.item-modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 30%;
    left: 38%;
    background-color: #FFF;
    padding: 30px;
    width: 25vw;
    height: 28vh;
    border-radius: 1rem;
    overflow: scroll;
    z-index: 1000;
}

.item-modal h1{
    margin-top: 1rem;
    color: rgb(80, 76, 76);
}

.bottom-buttons {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
}

.bottom-buttons button {
    background-color: rgb(80, 76, 76);
}

.exit-button{
    float: right;
    padding-bottom: 1rem;
}

.edit-exit, .select-exit {
    float: right;
}



.edit-item-modal, .select-recipe-modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 5%;
    left: 30%;
    background-color: #FFF;
    padding: 30px;
    width: 40vw;
    height: 90vh;
    border-radius: 1rem;
    z-index: 1000;
    overflow: scroll;
}

.edit-item-modal h1{
    font-size: 30px;
    color: rgb(80, 76, 76);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.title-edit-modal {
    background-color: rgb(175, 171, 171);
    height: 3rem;
    width: 90%;
    overflow-wrap: break-word;
    border-radius: 1rem;
    font-size: 22px;
    padding: 0.5rem;
    cursor: pointer;
}

.edit-text-box {
    background-color: rgb(175, 171, 171);
    width: 90%;
    overflow-wrap: break-word;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 22px;
    min-height: 10rem;
    cursor: pointer;
    white-space: pre-wrap;
}


.edit-body, .select-body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.recipe-container{
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.3));
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: scroll;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 2rem;

}

.number-circle, .number-circle-check {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid rgb(80, 76, 76);
    color: rgb(80, 76, 76);
    text-align: center;
    margin-bottom: 10px;
}

.number-circle-check {
    padding: 6px;
}


.day-icons {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}


@media (max-width: 1500px){
    .day-icons {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .number-circle, .number-circle-check{
        margin-bottom: 0;
    }
}

@media (max-width: 700px){

    .board{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        display: flex;

    }

    .body{
        height: 100vh;
        display: flex;
    }

    .content{
        width: 100vw;
        display: flex;
    }

    .recipe-content {
        height: 100vh;
        width: 100vw;
        
    }

    .meals-active {

        flex-direction: column;
        align-items: center;
    }


    .sidebar {
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       height: 15vh;
       min-width: 100vw;
       display: flex;
       padding: 2rem;
    }

    
    .options{
        flex-direction: row;
    }

    .day {
        font-size: 10px;
    }

    .item-modal{
        width: 50vw;
        left: 28%;
    }

    .title {
        padding: 2px 2px;
        margin-top: 0rem;
        font-size: 25px;
        
        
    }
    
    .options a{
        font-size: 25px;
        color: rgb(80, 76, 76);
        text-decoration: none;
        display: inline;
        
    }
    
    .options li{
        margin-top: 0rem;
        display: inline;
        margin-right: 15px;
        
    }

    


    
}

@media (max-width: 1720px){

    .meals-active {

        flex-direction: column;
        align-items: center;
    }

    .content{
        height: 100vh;
    }

    .recipe-content {
        height: 100vh;
    }

    .body{
        height: none;
    }

    .sidebar{
        width: 20%;
    }


}


